args==0.1.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
clint==0.5.1
filelock==3.0.12
Flask==1.1.2
future==0.18.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.13.2
languageflow==1.1.13a1
MarkupSafe==1.1.1
nltk==3.6.5
numpy==1.19.1
packaging==20.4
pyparsing==2.4.7
python-crfsuite==0.9.6
regex==2020.7.14
requests==2.24.0
sacremoses==0.0.43
scikit-learn==0.20.3
scipy==1.5.1
sentencepiece==0.1.91
six==1.15.0
tabulate==0.8.7
tokenizers==0.8.1rc1
torch==1.5.1
tqdm==4.48.0
transformers==3.0.2
underthesea==1.1.17
urllib3==1.25.10
Werkzeug==1.0.1

